<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Game</title>

    <script type="text/javascript" src="/assets/js/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/assets/js/spine.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/assets/js/underscore.js" charset="UTF-8"></script>
</head>
<body>
  <link href="/assets/css/app.css" media="all" rel="stylesheet" />

  <script src="/assets/js/app.js" type="application/javascript" charset="UTF-8"></script>
</body>
</html>